<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBbGHolVbMzIXPozsyjD82J-3mc_64D_ts</string>
	<key>GCM_SENDER_ID</key>
	<string>831178674259</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.urbanfootprint.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>urbanfootprint-a3611</string>
	<key>STORAGE_BUCKET</key>
	<string>urbanfootprint-a3611.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831178674259:ios:a892179d3933fec31336a6</string>
</dict>
</plist>